@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

$accent-color: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$star-card: hsl(300, 24%, 96%);
$gray-text: hsl(303, 10%, 53%);
$white: hsl(100, 100, 100);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin for-laptop-up {
  @media screen and (min-width: 75em) {
    @content;
  }
}
